{% extends "base.html" %}

{% block content %}
<div x-data="page()">
  <div class="px-5">
    <h2 class="text-gray-200 text-2xl font-black">Your top 5 selected favorite movies</h2>
    <ul class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 mt-6">
      <template x-for="(item, index) in selectedMovies" :key="index">
        <li class="col-span-1 flex flex-col text-center bg-gray-800 rounded-lg shadow-lg">
          <!-- <img class="mx-auto bg-gray-800 rounded-tl-lg rounded-tr-lg" src="https://image.tmdb.org/t/p/w500/ movie.poster_path " alt=""> -->
          <div class="text-base text-md text-gray-300 p-2" x-text="item.title"></div>
        </li>
      </template>
    </ul>

    <main class="text-gray-400 mt-10">
      <h2 class="text-gray-200 text-2xl font-black">Top 100 movies</h2>
      <p class="text-base text-xl text-gray-300 mb-6">
        Select your 5 favorite movies from this list
      </p>
      <ul class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
        {% for movie in top_100 %}
          <li class="col-span-1 flex flex-col text-center bg-gray-800 rounded-lg shadow-lg">
            <button @click="addMovie({{ movie }})">
              <img class="mx-auto bg-gray-800 rounded-tl-lg rounded-tr-lg" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="">
              <p class="text-base text-md text-gray-300 p-2">{{ movie.title }}</p>
            </button>
          </li>
        {% endfor %}
      </ul>
    </main>
  </div>
  <script>
    function page() {
      return {
        selectedMovies: [],
        addMovie(movie) {
          if (this.selectedMovies.includes(movie)) {
            console.log("hu");
          } else {
            console.log("uh")
          }
          console.log(this.selectedMovies);
          this.selectedMovies = this.selectedMovies.filter(item => item !== movie);

          if (this.selectedMovies.length >= 5) {
            console.log("1");
          } else {
            console.log("2");
            this.selectedMovies.push(movie);
            console.log(this.selectedMovies);
          }
        }
      }
    }
  </script>
</div>
{% endblock %}
